* {
	padding: 0;
	margin: 0;
}
body {
	background-color: rgba(0, 0, 0, 0.9);
	padding-bottom: 500px;
}
nav {
	display: flex;
	justify-content: space-around;
	width: 100%;
	padding: 20px 0;
	background-color: black;
	box-shadow: 3px 0 4px grey;
	top: 0;
	position: fixed;
}
nav .logo {
	color: white;
	z-index: -1;
}
nav ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	width: 20%;

}
nav ul li a {
	text-decoration: none;
	color: white;
	padding: 10px 9px;
	border-radius: 20px;
	transition-duration: .3s;
}
nav ul li a:hover {
	background-color: white;
	color: black;
}
.menu{
	display: none;
	flex-direction: column;
	height: 20px;
	justify-content: space-between;
	position: relative;
}
.menu input{
	position: absolute;
	height: 28px;
	width: 40px;
	opacity: 0;
	left: -5px;
	top: -3px;
	cursor: pointer;
}
.menu span{
	display: block;
	width: 25px;
	height: 3px;
	background-color: #FF8C00;
	border: 3px;
	transition: all 0.5s;
}
/* membuat animasi menu*/
.menu span:nth-child(2){
	transform-origin: 0 0;
}
.menu span:nth-child(4){
	transform-origin: 0 100%;
}
.menu input:checked ~ span:nth-child(2){
	background-color: red;
	transform: rotate(45deg);
}
.menu input:checked ~ span:nth-child(4){
	background-color: red;
	transform: rotate(-45deg);
}
.menu input:checked ~ span:nth-child(3){
	transform:scale(0);
	opacity: 0;
}
.container {
	width: 100%;
	height: 500px;
	margin-top: 18rem;
}
.container .card {
	display: flex;
	justify-content: space-around;

}
.container .card .satu {
	width: 270px;
	height: 350px;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 10px;
	box-shadow: 3px 2px 4px rgba(255, 255, 255, 0.2)
}
.container .card .satu h2 {
	margin-top: 20px;
	text-align: center;
}
.container .card .dua {
	width: 270px;
	height: 350px;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 10px;
	box-shadow: 3px 2px 4px rgba(255, 255, 255, 0.2)
}
.container .card .dua h2 {
	margin-top: 20px;
	text-align: center;
}
.container .card .tiga {
	width: 270px;
	height: 350px;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 10px;
	box-shadow: 3px 2px 4px rgba(255, 255, 255, 0.2)
}
.container .card .tiga h2 {
	margin-top: 20px;
	text-align: center;
}

@media screen and (max-width: 756px) {
	nav ul {
		width: 50%;
	}
}
@media screen and (max-width: 576px) {
	nav ul{
		position: absolute;
		right: 0;
		justify-content: space-evenly;
		height: 60vh;
		width: 90%;
		top: 0;
		align-items: center;
		flex-direction: column;
		background-color: black;
		z-index: -1;
		transform: translateX(100%);
		transition: all 1s;
		opacity: 0;
	}
	.menu{
		display: flex;
		z-index: 2;
	}
	nav ul.slide{
		opacity: 1;
		transform: translateX(0);
	}
	nav .logo {
		left: 0;
	}
	.container .card {
		display: block;
		margin-left: 150px;

	}
	.container .card .satu {
		height: 270px
	}
	.container .card .dua {
		margin-top: 15px;
		height: 270px
	}
	.container .card .tiga {
		margin-top: 15px;
		height: 270px
	}
}
@media screen and (max-width: 414px) {
	.container .card {
		display: block;
		margin-left: 72px;

	}
	.container {
		margin-top: 9rem;
	}
}
@media screen and (max-width: 395px) {
	.container .card {
		display: block;
		margin-left: 59px;

	}
}
@media screen and (max-width: 390px) {
	.container .card {
		display: block;
		margin-left: 59px;

	}
}
@media screen and (max-width: 375px) {
	.container .card {
		display: block;
		margin-left: 53px;

	}
}
@media screen and (max-width: 360px) {
	.container .card {
		display: block;
		margin-left: 45px;

	}
}
